/* Custom styles for the Carousel */
.custom-carousel .slide img {
  max-height: 650px;
  max-width: 350px; /* Adjust the max-height as needed */
}
.carousel-container {
 
  border-radius: 10px; /* Add some border radius for a softer look */
  margin-top: 20px; /* Adjust the margin as needed */
  padding: 10px; /* Add some padding for spacing */
  
  max-width: 80%; /* Adjust the maximum width as needed */
  margin: auto; /* Center the container horizontally */
}
.carousel-container {
  margin-bottom: 27px; /* Adjust the margin as needed */
}



.custom-carousel {
  /* Set a maximum width to control the size of the carousel */
  max-width: 860px;
  /* Center the carousel horizontally */
  margin: 0 auto;
  /* Add box shadow for a visual effect */
  box-shadow: 0 0 40px rgba(0, 0, 0, 0.1);
  /* Add some padding for better spacing */
  padding: 20px;
  /* Add border radius for rounded corners */
  border-radius: 15px;
  /* Ensure the carousel is responsive */
  width: 100%;
}
/* Add these styles to your Landingcss.css file or any CSS file you're using */

.section-title {
  text-align: center;
  margin-bottom: 20px; /* Add some bottom margin for spacing */
  color: rgb(56, 205, 175);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
